@use '@growi/core-styles/scss/bootstrap/init' as bs;
@use 'sass:map';

.decorationTab {
  min-width: map.get(bs.$grid-breakpoints, 'sm');
  max-height: 80vh;
  overflow-y: auto;
}

.dropdownMenu {
  max-height: 300px;
  margin-top: bs.$dropdown-spacer;
  overflow-y: auto;
}
