.decorationTab {
  min-width: 650px;
  max-height: 80vh;
  overflow-y: auto;
}

.copyButton {
  display: block;
  padding: 0;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.codeContainer {
  background-color: var(--bs-dark);

  pre {
    margin: 0;
    line-height: 1.5;
  }
}

.copyBadge {
  top: 4px;
  right: 4px;
  font-size: 0.4rem;
}

.dropdownMenu {
  max-height: 300px;
  margin-top: 0.125rem;
  overflow-y: auto;
}
