.layoutTabContainer {
  min-width: 650px;
  max-height: 80vh;
}

.codeBox {
  width: fit-content;
  background-color: var(--bs-dark);
}

.codePre {
  line-height: 1.5;
  white-space: pre;
}

.copyBadge {
  top: 4px;
  right: 4px;
  font-size: 0.4rem;
}

.checkboxMock {
  width: 18px;
  height: 18px;
}

.tableContainer {
  width: fit-content;
  table {
    min-width: 580px;
  }
}
