.textStyleTab {
  max-height: 80vh;
}

.codeBlockWrapper {
  width: fit-content;
  background-color: var(--bs-dark);
}

.codeContent {
  font-size: 14px;
  color: rgba(var(--bs-white-rgb), 0.5);
}

.copyBadge {
  top: 2px;
  right: 4px;
  font-size: 0.4rem;
}

.wikiPreview {
  font-size: 14px;
}

.inlineCodeLabel {
  width: fit-content;
  color: var(--bs-pink);
  border: 1px solid var(--bs-pink);
}

.externalLink {
  color: var(--bs-secondary-color);
}
