@keyframes slide-in {
  from {
    transform: translateX(-12px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-12px);
  }
}

.dropend-toggle {
  animation: slide-out 0.3s ease forwards;
}

.dropend-toggle.is-hovered {
  animation: slide-in 0.3s ease forwards;
}
