@use '@growi/core-styles/scss/bootstrap/init' as bs;
@use 'sass:map';

.copyButton {
  display: block;
  padding: 0;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.codeBox {
  width: fit-content;
  background-color: var(--bs-dark);
}

.codePre {
  margin: 0;
  line-height: bs.$line-height-base;
  white-space: pre;
}

.copyBadge {
  top: map.get(bs.$spacers, 1);
  right: map.get(bs.$spacers, 1);
  font-size: bs.$badge-font-size;
}
