@use '@growi/core-styles/scss/helpers/modifier-keys';

.help-dropdown :global {
  @include modifier-keys.modifier-key;
}

.help-dropdown-menu :global {
  @include modifier-keys.modifier-key;
}

.help-dropdown-menu :global {
  --bs-dropdown-font-size: 14px;
  min-width: 240px;
}
