@use '@growi/core-styles/scss/bootstrap/init' as bs;
@use '../button-styles';
@use '../variables' as sidebarVar;

// == Sizes
.grw-primary-items :global {
  .badge :global {
    left: 26px;
    font-size: 8px;
  }
  .btn {
    @extend %btn-basis;

    width: 40px;
    height: 40px;
  }
}

// == Colors
.grw-primary-items :global {
  .btn.btn-primary {
    @extend %btn-primary-color-vars;
  }
}

@include bs.color-mode(light) {
  .grw-primary-items :global {
    .btn-primary {
      --bs-btn-color: var(--grw-sidebar-nav-btn-color, var(--grw-primary-600));
      --bs-btn-hover-bg: var(--grw-sidebar-nav-btn-hover-bg, var(--grw-highlight-300));
    }
  }
}

@include bs.color-mode(dark) {
  .grw-primary-items :global {
    .btn-primary {
      --bs-btn-color: var(--grw-sidebar-nav-btn-color, var(--grw-primary-300));
      --bs-btn-hover-bg: var(--grw-sidebar-nav-btn-hover-bg, var(--grw-highlight-700));
    }
  }
}
