@use '@growi/core-styles/scss/bootstrap/init' as bs;
@use '../button-styles';
@use '../variables' as sidebarVar;

// == Sizes
.grw-primary-items :global {

  .btn {
    @extend %btn-basis;

    width: 40px;
    height: 40px;
  }

  .badge :global {
    left: 26px;
    font-size: 8px;
  }
}

// == Colors
.grw-primary-items :global {
  .btn.btn-primary {
    @extend %btn-primary-color-vars;
    --bs-btn-active-color: var(--grw-sidebar-nav-btn-active-color, var(--grw-primary-500));
  }
}

@include bs.color-mode(light) {
  .grw-primary-items :global {
    .btn-primary {
      --bs-btn-color: var(--grw-sidebar-nav-btn-color, var(--grw-highlight-600));
      --bs-btn-color-hover: var(--grw-sidebar-nav-btn-hover-color, var(--grw-highlight-700));
      --bs-btn-hover-bg: var(--grw-sidebar-nav-btn-hover-bg, var(--grw-highlight-200));
      --bs-btn-active-bg: var(--grw-sidebar-nav-btn-hover-bg, var(--grw-highlight-200));
    }
  }
}

@include bs.color-mode(dark) {
  .grw-primary-items :global {
    .btn-primary {
      --bs-btn-color: var(--grw-sidebar-nav-btn-color, var(--grw-highlight-600));
      --bs-btn-color-hover: var(--grw-sidebar-nav-btn-hover-color, var(--grw-highlight-400));
      --bs-btn-hover-bg: var(--grw-sidebar-nav-btn-hover-bg, var(--grw-highlight-900));
      --bs-btn-active-bg: var(--grw-sidebar-nav-btn-hover-bg, var(--grw-highlight-900));
    }
  }
}
