# next.js
/.next/
/out/
next-env.d.ts

# test
.reg

# dist
/build/
/dist/
/transpiled/
/public/static/fonts
/public/static/js
/public/static/styles
/public/uploads
/src/styles/prebuilt
/src/**/*.vendor-styles.prebuilt.js
/tmp/

# cache
/.swc/
